.theme-panel-container {
  transition: transform 0.2s ease, opacity 0.2s ease;
  position: fixed;
  background-color: var(--menu-bg);
  color: var(--text-colour-bg);
  border-radius: 10px;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 20px 32px 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  height: max-content;
  width: 315px;
}

.theme-panel-container.open {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}
.theme-panel-container.closed {
  transform: translate(-50%, 30px);
  opacity: 0;
  pointer-events: none;
}

.close-theme-selector {
  background-color: transparent;
  margin-left: 120px;
  border: 0;
  position: fixed;
}

.theme-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.theme-button {
  background-color: rgb(28, 63, 148);
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  height: 54px;
  width: 200px;
  user-select: none;
  margin: 1px 2px;
}

.theme-button.selected {
  background-color: #444444;
}
