.station-container {
  background-color: var(--guess-card-not-guessed-bg);
  color: var(--text-colour-bg);
  display: flex;
  border-radius: 8px;
  flex: 1;
  flex-direction: column;
  position: fixed;
  bottom: 217px;
  margin: 0 auto;
  left: 2px;
  right: 2px;
  z-index: 10;
  text-align: left;
  padding-left: 10px;
  justify-content: space-between;
  max-width: 600px;
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid black;
}

.station.guessed {
  pointer-events: none;
  filter: grayscale(60%);
  opacity: 0.5;
}

.station {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
  position: relative;
}

.station-circles {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  height: 17px;
  width: 40px;
  margin-top: 5px;
}

.station-name {
  flex: 0 0 auto;
  text-align: left;
  min-width: 100px;
}

.highlight {
  background-color: rgba(147, 147, 147, 0.8);
  border-radius: 2px;
}
.no-results-text {
  background-color: #cc8080;
  border-radius: 2px;
}

@media (max-width: 600px) {
  .station-container {
    bottom: 168px;
    max-height: 45vh;
  }
}

@media (min-height: 700px) {
  .station-container {
    bottom: 217px;
  }
}

@media (min-width: 600px) and (max-height: 600px) {
  .station-container {
    bottom: 168px;
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .station-container {
    bottom: 130px;
  }
}