.key {
  background-color: rgb(28, 63, 148);
  border-radius: 8px;
  border: 0;
  padding: 0;
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  height: 54px;
  user-select: none;
  margin: 1px 2px;
}

.key.not-next {
  background-color: dimgrey;
  transition: ease-in 0.15s
}