.row {
  text-align: center;
  display: flex;
}

.delete-symbol {
  height: 50%;
  margin-top: 5px;
}

.keyboard {
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 600px;
}

@media (max-width: 600px) {
  .keyboard {
    max-width: 100%;
  }
}

@media (max-height: 600px) and (orientation: landscape) {
  .keyboard {
    max-width: 90%;
  }
}