.exit-menu {
  background-color: transparent;
  margin-top: 10px;
  margin-left: 75%;
  border: 0;
  margin-bottom: 50px;
}

.exit-menu-img {
  height: 28px;
}

.menuSymbol {
  height: 30px;
}

.menu-container {
  background-color: var(--menu-bg);
  color: var(--text-colour-bg);
  position: fixed;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 210px;
  max-width: 100%;
  bottom: 0px;
  z-index: 100;
  transition: left 0.2s ease;
}

.menu-container.open {
  left: 0;
  opacity: 1;
}

.menu-container.closed {
  left: -210px;
  opacity: 0.5;
}

.menu-item {
  height: 38px;
  background-color: transparent;
  border: 0;
  font-size: large;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 10px;
  align-items: center;
  margin-left: 15px;
}

.logo {
  height: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menuComponentTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
}

@media (max-width: 600px) {
  .menuComponentTitle {
    font-size: 25px;
  }
}

@media (orientation: landscape) {
  .exit-menu {
    margin-bottom: 25px;
  }
  .menu-item {
    margin-bottom: 12px;
  }
}