.stats-container {
  transition: transform 0.2s ease, opacity 0.2s ease;
  position: fixed;
  background-color: var(--menu-bg);
  color: var(--text-colour-bg);
  z-index: 9999;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 600px;
  padding: 20px 20px 32px 20px;
  top: 50%;
  left: 50%;
  max-height: max-content;
}

.top {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-area {
  padding-top: 20px;
}

.stats-container.open {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}
.stats-container.closed {
  transform: translate(-50%, 30px);
  opacity: 0;
  pointer-events: none;
}

.exit-stats-button {
  background-color: transparent;
  border: 0;
  position: fixed;
  top: 10px;
  right: 0;
}

.figures {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 0 70px 0 70px;
  font-weight: bold;
}

.figure-item {
  display: flex;
  flex-direction: column;
  line-height: 0.01;
}

.share {
  background-color: rgb(28, 63, 148);
  height: 40px;
  width: 147px;
  color: white;
  border-radius: 6px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 0;
  margin: 0 auto;
}

.share-button {
  position: relative;
}

.share-symbol {
  height: 20px;
}

.chart {
  margin-right: 90px;
  margin-left: 35px;
  position: relative;
  height: 240px;
  display: flex;
  flex-direction: column;
}

.guess-row {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  width: 100%;
}

.number {
  width: 20px;
  text-align: right;
  flex-shrink: 0;
}

.bar {
  background-color: #f3852e;
  border-radius: 6px;
  width: 350px;
  height: 30px;
  display: inline-block;
  flex-shrink: 0;
}

.bar.zero {
  width: 11px;
}

.bar.today {
  background-color: #47dd29;
}

@media (max-width: 600px) {
  .stats-container {
    max-width: 80vw;
    max-height: 55vh;
  }

  .figures {
    padding: 0;
    font-size: 11px;
  }

  .chart {
    margin: 15px 0 0 0;
  }

  .bar {
    max-width: 60vw;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .stats-container {
    max-height: 70vh;
    max-width: 80vw;
    padding: 10px 10px 16px 10px;
  }
  .main-area {
    padding-top: 10px;
  }
  .figures {
    padding: 0 40px 0 40px;
  }
  .share {
    height: 30px;
    width: 120px;
  }

  .guess-row {
    height: 30px;
  }

  .figure-item {
    font-size: 11px;
  }

  .bar {
    height: 25px;
  }

  .chart {
    height: 45vh;
  }

}

@media (max-height: 400px) and (orientation: landscape) {
  .guess-row {
    height: 25px;
  }
  .bar {
    height: 21px;
  }
  .chart {
    height: 40vh;
  }
  .figure-item {
    font-size: 11px;
  }
  .share-button {
    padding-top: 5px;
  }

}