.how-to-play-container {
  position: fixed;
  left: 50%;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background-color: var(--menu-bg);
  color: var(--text-colour-bg);
  z-index: 9999;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  width: 50vw;
  overflow-y: auto;
  padding: 20px 20px 32px 20px;
  max-height: 85%;
  opacity: 0;
}

.how-to-play-container.open {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: auto;
}

.how-to-play-container.closed {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 30px);
}


.exit-how-to-play-button {
  background-color: transparent;
  border: 0;
}

@media (max-height: 600px) {
  .header {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .how-to-play-container {
    width: 75vw;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .how-to-play-container {
    max-height: 70vh;
    width: 75vw;
  }
}