.correct-guess-container {
  z-index: 9999;
  background-color: var(--menu-bg);
  color: var(--text-colour-bg);
  transition: top 0.2s ease, opacity 0.2s ease;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  height: fit-content;
  line-height: 0.9;
  position: fixed;
  left: 50%;
  top: 4px;
  bottom: 4px;
  transform: translateX(-50%)translateY(100%);
  margin-top: 10px;
  padding: 20px 200px 32px 200px;
}

.correct-guess-container.open {
  top: 0;
  opacity: 1;
  pointer-events: auto;
}
.correct-guess-container.closed {
  top: 100px;
  opacity: 0;
  pointer-events: none;
}
