.guess-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 46px;
  border-radius: 6px;
  padding: 0 4px;
  margin-bottom: 2px;
}

.correct-guess {
  background-color: var(--guess-card-guessed-bg);
  color: var(--text-colour-guess-card-bg);
  display: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 46px;
  border-radius: 6px;
  padding: 0 4px;
  margin-bottom: 2px;
  justify-content: center;
}

.correct-guess-extra-message {
  margin: 0;
  transform: translateY(-13px);
}

.station-name-correct {
  line-height: 36px;
  font-size: 20px;
  transform: translateY(-5px);
}

.guess-card.guessed {
  background-color: var(--guess-card-guessed-bg);
  color: var(--text-colour-guess-card-bg);
}

.guess-card.not-guessed {
  background-color: var(--guess-card-not-guessed-bg);
  color: var(--text-colour-guess-card-bg);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.station-name {
  font-size: 1rem;
  font-weight: bold;
}

.lines {
  display: flex;
  gap: 5px;
  height: 15px;
}

.circle {
  height: 100%;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 10px;
}

.stops-away {
  font-size: 0.9rem;
}

.direction img {
  height: 13px;
}
