.guess-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 46px;
  border-radius: 6px;
  padding: 0 4px;
  max-width: 95%;
  margin: 0 auto 2px auto;
  box-sizing: border-box;
}

.guess-card.guessed {
  background-color: var(--guess-card-guessed-bg);
  color: var(--text-colour-guess-card-bg);
}

.guess-card.not-guessed {
  background-color: var(--guess-card-not-guessed-bg);
  color: var(--text-colour-guess-card-bg);
}

.correct-guess {
  background-color: var(--guess-card-guessed-bg);
  color: var(--text-colour-guess-card-bg);
  display: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 46px;
  border-radius: 6px;
  margin: 0 auto 2px auto;
  max-width: 95%;
}

.correct-guess-extra-message {
  margin: 0;
  transform: translateY(-13px);
}

.station-name-correct {
  line-height: 36px;
  font-size: 20px;
  transform: translateY(-5px);
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 3px;
}

.guess-station-name {
  font-weight: bold;
  font-size: 14px;
}

.lines {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 14px;
}

.circle {
  height: 120%;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 10px;
}

.stops-away {
  font-size: 0.9rem;
}

.direction img {
  height: 13px;
}
.left,
.right {
  flex-shrink: 1;
  min-width: 0;
}

@media (max-width: 600px) {
  .guess-card {
    height: 30px;
  }

  .guess-card.guessed {
    height: 40px;
  }

  .station-name {
    font-size: 14px;
  }

  .stops-away {
    font-size: 12px;
  }

  .correct-guess {
    height: 40px;
  }

  .direction img {
    height: 11px;
  }

  .correct-guess {
    font-size: 16px;
  }
}

@media (max-height: 650px) and (orientation: landscape) {
  .guess-card {
    height: 30px;
  }
  .left {
    flex-direction: row;
    margin: 0;
    align-items: center;
  }

  .lines {
    height: 17px;
  }
}

@media (max-height: 400px) and (orientation: landscape) {
  .guess-card {
    height: 20px;
  }

  .correct-guess {
    height: 25px;
  }

  .station-name-correct {
    font-size: 10px;
    transform: translateY(-10px);
  }

  .correct-guess-extra-message {
    transform: translateY(-21px);
    font-size: 7px;
  }

  .lines {
    height: 13px;
  }
}

@media (orientation: landscape) {
  .left {
    gap: 7px;
  }
}
